@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica\ Black.ttf") format("truetype");
}
@font-face {
  font-family: "URWClassico";
  src: url("../font/URWClassico-Regular.ttf") format("truetype");
}
/* layout */
html,
body {
  height: 100%;
}

body.fixed {
  /* overflow-y: hidden; */
}

.main {
  width: 100%;
  height: 100%;
  /* padding-top: 84px; */
}

#wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 144px;
}
#full_wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1314px;
  margin: 0 auto;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 101;
  background: transparent;
  /* overflow: hidden; */
  /* transition: 0.35s; */
}
.header.active {
  height: 304px;
}
.header.white {
  background: #fff;
}
.header__inner {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  height: 72px;
  border-bottom: 1px solid #999;
}

.header .menu {
  display: flex;
  max-width: 807px;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header .menu > li {
  position: relative;
  color: #111;
  font-family: "URWClassico";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  cursor: pointer;
}

.header .menu > li.active {
  font-weight: 700;
}
.header .sub_menu {
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 47px;
  padding: 24px 0;
}

.header .sub_menu.active {
  display: flex;
}

.header .sub_menu li {
  color: #111;
  font-family: "URWClassico";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}
.header__inner .logo {
  width: 182.598px;
}

.ham_btn.active {
  background: url(../_img/common/icon_x_white.svg) no-repeat center center / contain;
  width: 24px;
  height: 24px;
  z-index: 102;
}
.pc_sidebar__header {
  height: 52px;
  display: flex;
  align-items: center;
  max-width: calc(100% - 40px);
  width: 100%;
  margin: 0 auto;
}
.pc_sidebar__header .x_btn {
  background: url(../_img/common/icon_x.svg) no-repeat center center / contain;
  width: 24px;
  height: 24px;
  position: relative; /* 위치 설정 */
  z-index: 106;
}

.pc_sidebar {
  display: block;
  position: fixed;
  width: 203px;
  top: 0;
  left: -100%;
  height: 100dvh;
  background: #fff;
  z-index: 9999;
  transition: 0.35s;
  max-width: 340px;
  margin: 0 auto;
  font-family: "URWClassico";
}

.pc_sidebar.open {
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9999;
}
.p_sidebar {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  margin-top: 44px;
  z-index: 9999;
}

.p_sidebar .sidebar_ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.p_sidebar .sidebar_ul > li {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%; /* 30px */
  font-family: "URWClassico";
}

.p_sidebar .sidebar_ul > li:hover,
.lnb__list li:hover {
  color: #fd0;
}
.btn-lnb {
  position: relative;
  width: 100%;
  text-align: left;
  display: flex;
  gap: 16px;
  align-items: center;
  line-height: 150%;
  color: #000;
}
.sidebar_ul li.active {
  font-weight: 700;
}
.btn-lnb.active {
  font-weight: 700;
}
.btn-lnb p {
  width: 16px;
  height: 16px;
  background: url(../_img/common/icon_plus_bl.svg) no-repeat center center/contain;
}
.btn-lnb.active p {
  background: url(../_img/common/icon_minus_bl.svg) no-repeat center center/contain;
}

.btn-lnb.active {
  color: #fd0;
}
.lnb__list {
  display: none;
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-top: 4px;
}
.lnb__list li {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  font-family: "URWClassico";
}

.p_sidebar .sidebar_ul > li.on,
.lnb__list li.on {
  color: #d5ae6b;
}
.menu_hr {
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
  width: 100%;
  margin-bottom: 24px;
}
.global {
  position: relative;
  color: #111;
  font-family: "URWClassico";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  z-index: 999;
}

.global .global_btn {
  display: flex;
  gap: 8px;
  align-items: center;
}
.global .global_btn p {
  background: url(../_img/common/icon_arrow_bottom.svg) no-repeat center center / contain;
  width: 20px;
  height: 20px;
}
.global_ul {
  position: absolute;
  top: 28px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.global_ul li {
  padding: 12px 16px;
  color: #999;
  font-family: "URWClassico";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.global_ul li.on {
  color: #fd0;
  font-weight: 600;
}
/* Footer */
.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -144px;
  height: 144px;
  transform: translateY(-100%);
  background: #f5f5f5;
  padding: 20px;
}
.footer__inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer_logo {
  width: 162.002px;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__inner > p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
}

.btn_gotop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 48px;
  right: 48px;
  z-index: 999;
  background-color: #fff;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 500px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn_gotop span {
  background: url(../_img/common/arrow_up.svg) no-repeat center center / contain;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.btn_gotop p {
  font-family: "Pretendard";
  color: #111;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.ham_btn {
  display: none;
}
/* Pad & Mobile */
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1100px) {
  .header .ham_btn {
    background: url(../_img/common/icon_ham_btn.svg) no-repeat center center / contain;
    width: 24px;
    height: 24px;
    display: block;
  }
  .header .menu {
    display: none;
  }
  .global .global_btn span {
    display: none;
  }
  .pc_sidebar {
    max-width: 100%;
  }
  .pc_sidebar__header {
    height: 55.52px;
  }

  .p_sidebar {
    width: 156px;
    margin: 24.46px 20px;
  }
  .btn-lnb::after {
    width: 20px;
    height: 20px;
  }
  .lnb__list li {
    font-size: 16px;
  }
  .global .global_btn p {
    background: url(../_img/common/icon_global.svg) no-repeat center center / contain;
    width: 24px;
    height: 24px;
  }
  .global_ul {
    top: 24px;
    left: -44px;
  }
  .global_mo {
    position: relative;
    margin-bottom: 32px;
  }
  .global_mo .global_btn_mo {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .global_mo .global_btn_mo p {
    background: url(../_img/common/icon_arrow_down_bl.svg) no-repeat center center / contain;
    width: 16px;
    height: 16px;
  }
  .global_ul_mo {
    position: absolute;
    top: 21px;
    border-radius: 6px;
    background: #000;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    z-index: 999;
  }

  .global_ul_mo li {
    padding: 8px 12px;
    color: #999;
    font-family: "URWClassico";
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
    height: 37px;
  }

  .global_ul_mo li.on {
    color: #fd0;
  }
  .lnb__list {
    gap: 4px;
  }
}
/* Pad */
@media screen and (min-width: 768px) and (max-width: 1200px) {
}
/* Mobile */
@media screen and (max-width: 768px) {
  .header,
  .header__inner {
    height: 52px;
  }

  .header__inner {
    border: none;
  }

  .footer__inner > p {
    font-size: 9px;
  }
  .btn_gotop {
    display: none;
  }

  .footer {
    height: 172px;
    bottom: -172px;
  }
  .footer_logo {
    width: 145.801px;
  }
  .header__inner .logo {
    width: 149.398px;
  }
  .global_ul li {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
  }
  #wrap {
    padding-bottom: 190px;
  }
  .footer_logo img {
    content: url(/_img/common/logo_footer_mo.svg);
  }
}
